/* ===== Font ===== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Work+Sans:wght@400;500;700&display=swap");

/* ===== Common ===== */
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Work Sans", sans-serif;
    color: #151414;
}

section:not(#hero) {
    padding: 65px 0;
}

.container {
    width: 100%;
    max-width: 1141px;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    margin: 32px 0 0;
    padding: 20px 25px;
    border-color: transparent;
    border-radius: 5px;
}

/* ===== Hero ===== */
#hero {
    display: flex;
    align-items: center;
    min-height: 640px;
    background: url("../img/bg-hero.png") no-repeat center bottom / cover;
}

.hero {
    width: 525px;
    margin-left: auto;
    text-align: right;
}

.hero h3 {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    margin: 0 0 24px;
}

.hero p {
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.hero .btn {
    color: #fff;
    background-color: #f15b22;
}

/* ===== About ===== */
.about {
    display: flex;
    align-items: center;
}

.abt-img {
    max-width: 569px;
    margin-right: 87px;
}

.abt-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.abt-content {
    max-width: 416px;
}

.abt-content h5 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin: 0 0 24px;
}

.abt-content p {
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.abt-content ul {
    font-size: 16px;
    line-height: 26px;
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
}

.abt-content i {
    color: #16d887;
}

.abt-content span {
    color: #444343;
}